:root {
  --kuning-telur: #fffdd2;
  --cokelat: #b46a39;
  --cokelatx: #c07441;
}

* {
  margin: 0px;
  padding: 0px;
  font-family: "Ubuntu", sans-serif;
}

.container {
  margin: 0 auto;
  width: 80%;
  height: 100vh;
  /* border: 1px solid grey; */
}

.latar-satu {
  position: absolute;
  width: 60%;
  background-color: whitesmoke;
  height: 100vh;
}

.latar-satu {
  position: absolute;
  width: 40%;
  right: 0;
  background-color: var(--kuning-telur);
  height: 100vh;
}

.foto {
  position: absolute;
  bottom: 0px;
  right: 150px;
  z-index: 1;
  width: 450px;
}

.flex {
  display: flex;
}
.relative {
  position: relative;
}

.kiri {
  padding: 200px 0px;
  /* border: 1px solid grey; */
}

.title {
  font-family: "Ubuntu", sans-serif;
  color: var(--cokelat);
  font-size: 4.5em;
  margin-bottom: 20px;
}

.describe {
  font-family: "Ubuntu", sans-serif;
  color: grey;
  font-size: 1.2em;
  line-height: 1.5em;
  width: 400px;
  margin-bottom: 20px;
}

.kiri a.submit {
  text-decoration: none;
  text-transform: uppercase;
  color: white;
  padding: 10px 25px;
  background-color: var(--cokelat);
  display: inline-block;
  font-family: "Ubuntu", sans-serif;
  margin-bottom: 100px;
}

.kiri a.submit:hover {
  background-color: #c07441;
}

.email {
  display: inline-block;
  margin-right: 20px;
}

.insta {
  text-decoration: none;
  color: black;
}

.insta:hover {
  color: grey;
}
